repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-illegal-windows-names
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
    -   id: trailing-whitespace
-   repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    -   id: markdownlint-cli2
        args:
          [
            "-c",
            ".markdownlint.jsonc",
            "content",
          ]
- repo: https://github.com/crate-ci/typos
  rev: v1
  hooks:
    - id: typos

- repo: https://github.com/amperser/proselint/
  rev: v0.16.0
  hooks:
    - id: proselint
      files: \.(md|mdown|markdown)$

- repo: https://github.com/errata-ai/vale
  rev: v3.13.1
  hooks:
    - id: vale
      name: vale sync
      pass_filenames: false
      args: [sync]
    - id: vale
      args: [--output=line, --minAlertLevel=error]
