<!--- variables based on shortcode argument -->
{{ $entry := (.Get 0 | upper ) }}
{{ $count_id := print $entry "_count"}}

<!--{{ debug.Dump $.Site.Data.termbase }}-->

{{ range $.Site.Data.termbase }}
   <!-- Find matches -->
    {{ if eq  ( .term | upper ) $entry }}
        {{ if gt ( $.Page.Scratch.Get ( $count_id )) 0 }}
            <abbr title="{{- .expansion -}}">{{- .term -}}</abbr>
        {{ else }}
            <dfn>{{ .term }}</dfn> ({{ .expansion }})
            {{ $.Page.Scratch.Set ( $count_id ) 1 }}
	{{ end }}
    {{ end }}
{{ end }}
