name: check code for markdown issues
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: tj-actions/changed-files@v45.0.6
        id: changed-files
        with:
          files: 'content/**/*.md'
      - uses: DavidAnson/markdownlint-cli2-action@v19.0.0
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          globs: '**/*.md'
          config: markdownlint-config.json
          files: 'content/**/*.md'
          ignore: node_modules
