name: check code for markdown issues

permissions:
  contents: read
  pull-requests: read

on:
  push:

jobs:
  call-mdl-workflow:
    uses: routingblog/workflow/.github/workflows/markdown-cli.yml@master
