name: check code for markdown issues
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: articulate/actions-markdownlint@v1.1.0
        with:
          config: markdownlint-config.json
          files: 'docs/**/*.md'
          ignore: node_modules
          version: 0.43.0
