name: Build With Hugo - Pull Request

on:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  call-hugo-workflow:
    uses: routingblog/workflow/.github/workflows/pull_hugo.yml@master
